html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Gloria';
    src: url(fonts/gloria/GloriaHallelujah-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marck';
    src: url(fonts/marck/MarckScript-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poiret';
    src: url(fonts/poiret/PoiretOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url(fonts/jost/Jost-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gsans';
    src: url(fonts/gsans/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poiret', 'Gloria', 'Marck', 'Arial', 'Gsans';

    background: #ffffff;
    color: #000000;

    margin: 0;
    padding: 0;
}

/*Контейнер шапки*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Шапка - Вверхная часть: телефон, поиск, язык, геолок. */
.header-top {
    background-color: #ffffff;
    padding: 11px 0;
    border-bottom: 0.5px solid #eee;
}

.header-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Контактные данные: иконка, надпись*/
.phone {
    display: flex;
    align-items: center;
    gap: 6px;

    font-family: 'Gsans';
    font-size: 20px;
    font-weight: 500;

    color: #000;
}

.phone img {
    width: 24px;
    height: 24px;
}

/* Поля поиска: иконка, надпись, стилизация поля*/
.search-wrapper {
    flex: 1;
    max-width: 280px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 6px 12px;

    border: 1px solid #ccc;
    border-radius: 24px;

    font-size: 13px;
    font-family: 'Jost';

    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #604B42;
}

.search-wrapper img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* Вверхный правый панель: язык и город */
.top-right {
    display: flex;
    align-items: center;

    gap: 20px;
}

/* Язык и город: общие стили */
.language-selector,
.location {
    display: flex;
    align-items: center;

    gap: 5px;
    padding: 5px 10px;

    border-radius: 14px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;

    font-size: 14px;
    font-family: 'Gsans';
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s;
}

.language-selector:hover,
.location:hover {
    border-color: #604B42;
    color: #604B42;
}

/* Выбор языка: иконки, выпадающее меню */
.lang-icon {
    width: 16px;
    height: 16px;
}

.arrow-icon {
    width: 12px;
    height: 12px;
}

/* Выпадающее меню для языка */
.language-selector {
    position: relative;
}

.lang-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background: #fff;
    list-style: none;
    padding: 2px 0;
    margin: 0;

    border: 1px solid #ccc;
    border-radius: 20px;

    min-width: 80px;
    z-index: 1000;
}

.lang-dropdown li {
    padding: 2px 10px;
    cursor: pointer;
}

.lang-dropdown li:hover {
    background: #f6f6f6;
}

/* Выбор города: иконки, кнопка, выпадающее меню */
.location img {
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: #604B42;
}

/* Выпадающее меню для города */
.location {
    position: relative;
}

.city-dropdown {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;

    background: #fff;
    list-style: none;

    padding: 5px 0;
    margin: 0;

    border: 1px solid #ccc;
    border-radius: 12px;

    z-index: 1000;
    min-width: 120px;
}

.city-dropdown li {
    padding: 5px 10px;
    cursor: pointer;
}

.city-dropdown li:hover {
    background: #f0f0f0;
}

/* кнопка рядом с городом */
#change-city-btn {
    margin-left: 5px;
    padding: 2px 3px;

    cursor: pointer;
    font-size: 12px;

    border: none;
    border-radius: 5px;
    background: #ffffff;
}

#change-city-btn:hover {
    background: #f1f1f1;
}

/* Нижняя часть шапки: лого, нав.меню*/
.header-bottom {
    background-color: #fff;
    padding: 5px 0;
    border-bottom: 0.5px solid #604B42;
}

.header-bottom .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*логотип*/
.header-bottom .logo img {
    width: 100px;
    height: 75px;
}

/* Навигационное меню */
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    gap: 72px;
}

.nav-item {
    /* Нужна для того чтобы выпад.меню у каталога появлялся под ним */
    position: relative;
}

.nav-link {
    /* Стилизация нав.меню */
    display: flex;
    align-items: center;
    gap: 10px;
    /* растояние иконки рядом с каталогом */

    text-decoration: none;
    color: #000000;

    font-size: 16px;
    font-family: 'Jost';
    font-weight: 500;

    letter-spacing: 2px;
    transition: color 0.3s;
    padding: 8px 0;
    position: relative;
}

.nav-link img {
    /* иконка рядом с каталогом */
    width: 26px;
    height: 26px;
    transition: transform 0.3s ease;
}

.nav-link:hover img {
    transform: rotate(20deg);
}

.nav-link::after {
    /* Появление палки снизу навигации */
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #604B42;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Выпадающее меню каталога */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 900px;
    min-height: 450px;

    background: #fff;
    border: 0.5px solid #604B42;
    box-shadow: 0 4px 10px #f1f1f1;

    list-style: none;
    padding: 10px;

    display: flex;
    gap: 10px;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu li a {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 70px;
    padding: 0px 25px;

    font-size: 18px;
    font-family: 'Gsans';
    text-decoration: none;

    color: #000;
}

.dropdown-menu li a img {
    width: 25px;
    height: 25px;
}

.dropdown-menu li a:hover {
    font-weight: 550;
    color: #604B42;
    border-radius: 2px;
    border-bottom: 1px solid #604B42;
    width: fit-content;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* Подменю выпадающего меню */
.submenu-item {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.submenu-item>a {
    /* > - позволяет выделить главную ссылку, не затрагивая остальные */
    border-bottom: 1px solid #604B42;

    font-weight: 550;
}

.submenu {
    position: static;

    list-style: none;
    padding: 5px 0px;

    opacity: 1;
    margin-left: 30px;
}

.submenu li a {
    display: flex;
    align-items: center;
    padding: 5px 0;

    font-size: 16px;
    font-family: 'Gsans';
    text-decoration: none;

    color: #000;
}

.submenu li a img {
    width: 30px;
    height: 30px;
}

.submenu li a:hover {
    color: #604B42;
}

/* Навигация слева для пользователей: избранное, корзина и акк*/
.user-actions {
    display: flex;
    align-items: center;

    gap: 50px;
    flex-shrink: 0;
}

.icon-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2px;
    padding: 0;
    background: none;
    border: none;

    cursor: pointer;
    transition: color 0.3s;

    font-size: 12px;
    color: #000000;
}

.icon-btn img {
    width: 28px;
    height: 28px;
}

.icon-btn:hover,
.icon-btn:hover img {
    color: #604B42;
}

.label {
    /*описание под иконок*/
    font-size: 12px;
    font-family: 'Jost';
    font-weight: 500;
    white-space: nowrap;
}

/* Моб.адаптация ХИДЕРА*/
@media (max-width: 1024px) {
    .container {
        padding: 0 25px;
    }

    .phone {
        font-size: 18px;
    }

    .search-wrapper {
        max-width: 200px;
    }

    .top-right {
        gap: 10px;
    }

    .language-selector,
    .location {
        padding: 5px 8px;
        font-size: 13px;
    }

    .nav-menu {
        gap: 25px;
    }

    .nav-link {
        font-size: 14px;
        gap: 5px;
        letter-spacing: 1px;
    }

    .dropdown-menu {
        width: 700px;
        min-height: auto;
    }

    .dropdown-menu li a {
        height: 50px;
        font-size: 12px;
        gap: 4px;
    }

    .dropdown-menu li a img {
        width: 20px;
        height: 20px;
    }

    .submenu-item {
        width: 180px;
    }

    .submenu-item>a {
        border-bottom: 0.5px solid #604B42;
    }

    .submenu li a {
        font-size: 12px;
    }

    .user-actions {
        gap: 20px;
    }

    .icon-btn img {
        width: 25px;
        height: 25px;
    }

    .icon-btn .label {
        font-size: 10px;
    }

    .header-bottom .logo img {
        width: 80px;
        height: auto;
    }
}

@media (max-width: 768px) {

    .header-top,
    /* Скрываем эти блоки для ПК */
    .nav-menu,
    .user-actions {
        display: none !important;
        /* !important - принудительно перекрывает другие стили */
    }

    .burger,
    /* Включаем отображение элементов */
    .bottom-nav,
    .mobile-left,
    .mobile-right {
        display: flex !important;
        /* flex - чтобы удобно выравнивать */
    }

    /*Шапка моб меню*/
    .header-bottom {
        padding: 15px 0;
    }

    .header-bottom .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .mobile-left,
    .mobile-right {
        gap: 20px;
        align-items: center;
        z-index: 10;
    }

    .mobile-left img,
    .mobile-right img {
        width: 22px;
        height: 22px;
    }

    /*Логотип Shanyraq*/
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 !important;
    }

    .logo img {
        width: 80px !important;
        height: auto !important;
    }

    .mobile-search-bar {
        /* Скрытый блок поиска */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 8px 0;
        border-bottom: 1px solid #604B42;
        transform: translateY(-20px);
        /* Эффект появления */
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 9;
    }

    .mobile-search-bar.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .mobile-search-bar .container {
        display: flex;
        gap: 10px;
    }

    .mobile-search-bar input {
        flex: 1;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
        font-family: 'Jost';
    }

    .mobile-search-bar button {
        background: #604B42;
        color: #fff;
        border: none;
        padding: 0 15px;
        border-radius: 20px;
        font-family: 'Jost';
    }
}

@media (max-width: 468px) {
    .header-bottom {
        padding: 10px 0;
    }

    .mobile-left,
    .mobile-right {
        gap: 12px;
    }

    .mobile-left img,
    .mobile-right img {
        width: 18px;
        height: 18px;
        gap: 5px;
    }

    .logo img {
        width: 60px !important;
        height: auto;
    }

}

/*Слайдер*/
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

/* Картинка */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Текст поверх картинки */
.slide-content {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    color: #fff;
    max-width: 400px;
    z-index: 2;
}

.slide-content .title-slider {
    font-family: 'Jost';
    font-size: 40px;
    font-weight: 500;
}

/* Затемнение */
.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Кнопка */
.btn {
    display: inline-block;
    padding: 10px 10px;
    background: #604B42;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

/* Стрелки */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 100px;
    z-index: 3;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Индикаторы */
.indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: #fff;
}

@media (max-width: 1024px) {
    .slider {
        height: 450px;
    }

    .slide-content {
        left: 100px;
        max-width: 350px;
    }

    .slide-content .title-slider {
        font-size: 32px;
    }

    .prev,
    .next {
        padding: 8px 12px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 768px) {
    .slider {
        height: 380px;
    }

    .slide-content {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
        max-width: none;
    }

    .slide-content .title-slider {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .prev,
    .next {
        display: none;
    }

    .indicators {
        bottom: 20px;
        gap: 15px;
    }

    .btn {
        padding: 12px 25px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .slider {
        height: 320px;
    }

    .slide-content .title-slider {
        font-size: 18px;
    }

    .btn {
        padding: 8px 18px;
        font-size: 12px;
    }
}

/*Бегущая строка снизу карусели*/
.promo-marquee {
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    background: #fff;
}

.marquee-inner {
    display: flex;

    width: max-content;
    animation: scroll 25s linear infinite;
}

.promo-marquee:hover .marquee-inner {
    animation-play-state: paused;
}

.marquee-item {
    display: flex;
    align-items: center;

    gap: 10px;
    margin-right: 80px;

    flex-shrink: 0;
}

.marquee-item img {
    width: 40px;
    height: 40px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text span {
    color: #272343;

    font-size: 18px;
    font-family: 'Gsans';
    font-weight: 500;
}

.text p {
    color: #9A9CAA;

    font-size: 14px;
    font-family: 'Jost';

    margin: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .promo-marquee {
        padding: 8px 0;
    }

    .marquee-item {
        margin-right: 60px;
    }

    .text span {
        font-size: 16px;
    }

    .marquee-item img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .marquee-item {
        margin-right: 40px;
    }

    .marquee-inner {
        animation-duration: 20s;
    }

    .text span {
        font-size: 15px;
    }

    .text p {
        font-size: 13px;
    }

    .marquee-item img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .promo-marquee {
        padding: 6px 0;
    }

    .marquee-item {
        margin-right: 30px;
    }

    .text span {
        font-size: 14px;
        white-space: nowrap;
    }

    .text p {
        font-size: 12px;
    }

    .marquee-item img {
        width: 26px;
        height: 26px;
    }
}

/*Популярные категории*/
.popular-categories {
    padding: 30px;
    background: #ffffff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title img {
    width: 30px;
    height: 30px;
}

.title h2 {
    font-size: 25px;
    font-family: 'Jost';
    font-weight: 500;
    margin: 0;
}

/* Сетка */
.categories-grid {
    display: grid;

    grid-template-columns: 1.6fr 1.5fr 1.4fr;
    grid-template-rows: 200px 200px 200px;

    gap: 15px;
    padding: 20px 0;
}

/* Размещение блоков */
.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}

.item4 {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.item5 {
    grid-column: 2;
    grid-row: 3;
}

.item6 {
    grid-column: 3;
    grid-row: 2 / span 2;
}

/* Общий стиль для категорий */
.category-item {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;

    border-radius: 15px;
    border: 0.5px solid #604B42;

    text-decoration: none;
    color: #333;

    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.1s;
}

.category-item img {
    width: 100%;
    height: 100%;

    filter: brightness(60%);
    object-fit: cover;
}

.category-item span {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    color: #ffff;
    font-family: 'JOST';
    font-weight: medium;
    font-size: 30px;
}

.item1 span {
    top: 90px;
}

.item2 span {
    top: 180px;
}

.item3 span {
    top: 80px;
}

.item4 span {
    top: 180px;
}

.item5 span {
    top: 90px;
}

.item6 span {
    top: 180px;
}

.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
    .categories-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 180px);
        gap: 15px;
    }

    .category-item span {
        font-size: 24px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .title h2 {
        font-size: 22px;
    }

    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6 {
        grid-column: auto;
        grid-row: auto;
    }

    .category-item {
        height: 180px;
    }

    .category-item span {
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
    }

    .title h2 {
        font-size: 24px;
    }

    .title img {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 480px) {
    .categories-grid {
        grid-auto-rows: 140px;
        gap: 10px;
    }

    .category-item {
        height: 140px;
    }

    .category-item span {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .title h2 {
        font-size: 20px;
    }

    .title img {
        width: 22px;
        height: 22px;
    }
}

/*КАРУСЕЛЬ ТОВАРОВ*/
.carousel-container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 30px;
    height: auto;
    overflow: hidden;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.carousel-header h2 {
    margin: 0;
    font-family: 'Gsans';
    font-weight: 500;
}

/*Кнопки в шапке карусели*/
.carousel-controls button {
    background: #F0F2F3;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    padding: 10px 12px;
}

.carousel-controls img {
    width: 14px;
    height: 14px;
}

.carousel-controls button:hover {
    background: #604B42;
}

.carousel-controls button:hover img {
    filter: brightness(0) invert(1);
}

/*Карточки товаров*/
.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    min-width: 220px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    font-family: 'Jost';
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.item-top {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Кнопка "Избранное"*/
.favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    overflow: visible;
    transition: 0.3s;
}

.favorite-btn:hover {
    transform: scale(1.1);
}

.favorite-btn img {
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.heart-full {
    opacity: 0;
}

.favorite-btn:hover .heart-full {
    opacity: 1;
}

.favorite-btn:hover .heart-empty {
    opacity: 0;
}

.item-bottom {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-bottom h2 {
    font-size: 18px;
    font-family: 'Jost';
    font-weight: 500;
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    font-family: 'Jost';
    font-size: 18px;
}

/*Кнопка "Корзина"*/
.cart-btn {
    background: #F0F2F3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    margin: 0 2px;
}

.cart-btn img {
    width: 18px;
    height: 18px;
}

.cart-btn:hover {
    background: #604B42;
}

.cart-btn:hover img {
    filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {
    .carousel-container {
        height: auto;
        padding: 0 20px;
    }

    .carousel-header h2 {
        font-size: 22px;
    }

    .item-top {
        width: 220px;
        height: 180px;
    }

    .carousel-item {
        min-width: 220px;
    }

    .item-bottom h2 {
        font-size: 18px;
    }

    .price {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        overflow: visible;
    }

    .item-top {
        height: 150px;
    }

    .carousel-controls {
        display: none;
    }

    .carousel-track {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .carousel-track::-webkit-scrollbar {
        display: none;
    }

    .carousel-item {
        min-width: 220px;
        scroll-snap-align: start;
    }

    .carousel-track {
        scroll-snap-type: x mandatory;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        padding: 0 10px;
        max-width: 95%;
        margin: 0 auto;
        overflow-x: auto;
    }

    .carousel-item {
        min-width: 180px;
        margin-right: 10px;
        flex-shrink: 0;
    }

    .item-top {
        height: 140px;
    }

    .favorite-btn {
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;
    }

    .cart-btn {
        width: 30px;
        height: 30px;
        padding: 0;
    }
}

/*Индивидуальный заказ*/
.custom-order-section {
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.custom-order-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    flex-wrap: wrap;
}

.text-side {
    max-width: 500px;
}

.title-line {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.line {
    width: 8px;
    height: 350px;
    background-color: #604B42;
}

.text-content h2 {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 30px;
    margin: 0 0 30px 0;
}

.text-content p {
    font-family: 'Jost';
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 50px 0;
}

.text-content .btn {
    display: inline-block;
    padding: 5px 100px;

    background: #604B42;
    color: #fff;
    text-decoration: none;

    border-radius: 5px;
    font-family: 'Gsans';
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

.text-content .btn:hover {
    background: #806F68;
}

.image-side img {
    max-width: 300px;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .custom-order-section {
        margin-top: 60px;
        padding: 0 20px;
    }

    .custom-order-content {
        gap: 80px;
        justify-content: center;
    }

    .text-side {
        max-width: 450px;
    }

    .image-side {
        max-width: 250px;
    }

    .line {
        height: 300px;
    }

    .text-content h2 {
        font-size: 28px;
    }

    .text-content p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .custom-order-content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .title-line {
        flex-direction: column;
        align-items: center;
    }

    .line {
        width: 300px;
        height: 4px;
        margin-bottom: 20px;
    }

    .text-side {
        max-width: 100%;
    }

    .text-content h2 {
        font-size: 24px;
    }

    .text-content p {
        font-size: 16px;
    }

    .text-content .btn {
        width: 300px;
        padding: 4px 0;
        font-size: 14px;
    }

    .image-side img {
        max-width: 250px;
    }

}

@media (max-width: 480px) {
    .custom-order-section {
        margin-top: 40px;
    }

    .text-content h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .text-content p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .line {
        max-width: 100px;
    }

    .text-content .btn {
        width: 100%;
        padding: 4px 0;
        font-size: 14px;
    }

    .image-side img {
        max-width: 200px;
    }
}

/*Стилизация Бонусов*/
.bonus {
    text-align: center;
    padding: 60px 20px;
}

.bonus h2 {
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Jost';
    font-size: 28px;
}

.bonus span {
    font-family: 'Gloria';
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 50px;
}

.bonus-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    padding: 60px 20px 30px;
    border: 1px solid #604B42;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.icon-circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);

    width: 120px;
    height: 120px;

    border: 1px solid #604B42;
    border-radius: 50%;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 60px;
}

.card h3 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: 'Jost';
    font-size: 25px;
}

.card p {
    color: #919191;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Jost';
}

.card button {
    background: #604B42;
    color: #fff;
    border: none;

    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;

    font-family: 'Jost';
    font-weight: 500;
    font-size: 15px;
}

.card button:hover {
    background: #806F68;
    color: #fff;
}

@media (max-width: 1024px) {
    .bonus-cards {
        text-align: center;
        padding: 60px 20px;
    }

    .card {
        width: 280px;
    }

    .bonus h2 {
        font-size: 26px;
        margin: 0;
    }

    .bonus span {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .bonus {
        padding: 40px 15px;
    }

    .bonus h2,
    .bonus span {
        font-size: 24px;
        margin-bottom: 0;
    }

    .bonus-cards {
        gap: 80px 20px;
    }

    .card {
        width: 45%;
        min-width: 250px;
    }

    .card button {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .bonus h2,
    .bonus span {
        font-size: 22px;
    }

    .bonus-cards {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .card {
        width: 100%;
        max-width: 320px;
        padding-top: 50px;
    }

    .icon-circle {
        width: 100px;
        height: 100px;
        top: -50px;
    }

    .icon-circle img {
        width: 50px;
    }

    .card h3 {
        font-size: 20px;
    }

    .card button {
        width: 100%;
    }
}

/*Коллаж из фотографии*/
.shanyraq-collage {
    width: 100%;
    overflow: hidden;
}

.collage-header {
    text-align: center;
    margin-bottom: 10px;
}

.collage-header .subtitle {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jost';
    margin: 0 0 5px 0;
    color: #616161;
}

.collage-header .hashtag {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Jost';
    letter-spacing: 1px;
}

.collage-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
}

.grid-item {
    overflow: hidden;
    display: flex;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1)
}

.grid-item:hover img {
    transform: scale(1.07);
    filter: brightness(0.9);
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.item-2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

.item-4 {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 9 / 10;
    grid-row: 1 / 3;
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.item-7 {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.item-8 {
    grid-column: 7 / 9;
    grid-row: 2 / 4;
}

.item-9 {
    grid-column: 9 / 10;
    grid-row: 3 / 5;
}

@media (max-width: 1024px) {
    .collage-header .subtitle {
        font-size: 16px;
    }

    .collage-header .hashtag {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .collage-header .subtitle {
        font-size: 16px;
    }

    .collage-header .hashtag {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .grid-item:nth-child(n+6) {
        display: none;
    }

    .collage-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 8px;
    }

    .grid-item {
        grid-column: auto !important;
        grid-row: auto !important;
        height: 160px;
    }

    .grid-item:nth-child(3) {
        grid-column: span 2 !important;
        height: 220px;
    }
}

/*Подвал*/
.footer {
    padding: 60px 20px 30px;
    font-family: 'Jost', sans-serif;
}

/*Вверхняя часть подвала*/
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1.5px solid #dfdfe3;
    margin: 0 auto;
    gap: 20px;
}

.footer-logo {
    width: 400px;
    margin: 0 20px;
}

.footer-logo img {
    width: 100px;
    margin: 20px 20px;
}

.footer-logo p {
    color: #9A9CAA;
    font-family: 'Gsans';
}

/*Нав меню*/
.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.footer-col h4 {
    font-size: 16px;
    font-family: 'Jost';
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #604B42;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    position: relative;
}

.footer-col ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #604B42;
    transition: width 0.3s ease, left 0.3s ease;
}

.footer-col ul li:hover::after {
    width: 100%;
    left: 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.footer-col p {
    margin: 5px 0;
    color: #000;
}

/*Соц сети*/
.socials {
    display: flex;
    gap: 2px;
}

.social-link {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: visible;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-link img {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.social-link:hover img {
    transform: scale(1.1);
}

.socials a {
    display: inline-block;
}

.socials a img {
    width: 24px;
    transition: transform 0.3s;
}

.socials a:hover img {
    transform: scale(1.2);
    filter: brightness(1.5)
}

/*Нижняя часть подвала*/
.footer-bottom {
    margin-top: 20px;
    border-top: 1.5px solid #dfdfe3;
    padding-top: 10px;
    font-size: 14px;
    color: #9A9CAA;
}

@media (max-width: 1024px) {
    .footer-links {
        gap: 50px;
    }

    .footer-logo {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 40px 20px;
    }

    .footer-top {
        gap: 40px;
    }

    .footer-logo {
        width: 100%;
        margin: 0;
    }

    .footer-logo img {
        margin: 0 auto 20px;
    }

    .footer-links {
        width: 100%;
        gap: 50px;
    }
}

@media (max-width: 480px) {
    .footer-top {
        gap: 30px;
    }

    .footer-links {
        gap: 30px;
    }

    .footer-col h4 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .footer-col ul li {
        margin-bottom: 12px;
    }

    .footer-logo p {
        font-size: 14px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}

/*Плавающий крулгый виджет*/
.widget-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    font-family: 'Gsans';
}

.contact-card {
    display: none;
    position: absolute;
    bottom: 85px;
    right: 0;
    width: 220px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: slideUp 0.3s ease-out;
}

.card-header {
    background: #f8f9fa;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #333;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Ссылки внутри контейнера */
.contact-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background 0.2s;
}

.contact-link img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.contact-link span {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    display: inline-block;
}

.wa span {
    color: #25D366;
}

.contact-link:hover {
    background: #f0f2f5;
}

/* Сама круглая кнопка */
.widget-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: transform 0.2s;
}

.widget-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget-button:active {
    transform: scale(0.9);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .widget-button {
        width: 75px;
        height: 75px;
    }

    .widget-container {
        bottom: 20px;
        right: 20px;
    }

    .contact-card {
        bottom: 75px;
    }
}

@media (max-width: 768px) {
    .widget-container {
        bottom: 85px;
        right: 15px;
    }

    .widget-button {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    .widget-container {
        bottom: 75px;
        right: 15px;
    }

    .widget-button {
        width: 50px;
        height: 50px;
    }

    .contact-card {
        bottom: 75px;
    }
}

/* Бургер */
.burger,
.mobile-menu,
.bottom-nav,
.mobile-left,
.mobile-right {
    display: none;
}

/* Стили самого выезжающего меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    transition: 0.3s ease;
    padding: 20px;
    flex-direction: column;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 500;
    font-family: 'Jost';
    font-size: 20px;
}

.menu-footer-options {
    padding: 20px;
    background: #f9f9f9;
    font-family: 'Jost';
    font-size: 16px;
}

.mobile-option {
    margin-bottom: 15px;
    position: relative;
}

.option-header {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.mobile-dropdown {
    display: none;
    list-style: none;
    padding: 10px 0 0 25px;
}

.mobile-dropdown.show {
    display: block;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
}

.mobile-menu.active {
    display: flex;
    right: 0;
}

#closeMenu {
    align-self: flex-end;
    font-size: 28px;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu-items div {
    font-family: 'Jost';
    font-size: 22px;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-footer-options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-btn {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-family: 'Gsans';
}

/* Нижняя панель навигации */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 2500;
}

.bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-family: 'Jost';
    font-weight: 600;
}

.bottom-nav .nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

#mobileCityDropdown {
    display: none;
    position: static;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #ddd;
    z-index: 1001;
}

#mobileCityDropdown li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#mobileCityDropdown li:hover {
    background: #ececec;
}