/* Главный контейнер */
.container-narrow {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.container-wide {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.page-title {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 30px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {

    .container-narrow,
    .container-wide {
        padding: 0 15px;
    }

    .page-title {
        font-size: 26px;
        margin-top: 25px;
        margin-bottom: 8px;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .container-narrow,
    .container-wide {
        padding: 0 10px;
    }

    .page-title {
        font-size: 22px;
        margin-top: 20px;
        line-height: 1.2;
    }
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.breadcrumbs__item {
    font-family: 'Jost', sans-serif;
    font-size: 12px;
}

.breadcrumbs__link {
    color: #000;
    text-decoration: none;
}

.breadcrumbs__arrow {
    margin: 0 10px;
    font-size: 12px;
}

.breadcrumbs__current {
    color: #454545;
}

@media (max-width: 1024px) {
    .breadcrumbs__item {
        font-size: 11px;
    }

    .breadcrumbs__arrow {
        margin: 0 8px;
    }
}

@media (max-width: 768px) {
    .breadcrumbs__list {
        margin-bottom: 15px;
        flex-wrap: wrap;
        row-gap: 5px;
    }

    .breadcrumbs__item {
        line-height: 1.4;
    }
}

@media (max-width: 480px) {
    .breadcrumbs__list {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 5px;

        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .breadcrumbs__list::-webkit-scrollbar {
        display: none;
    }

    .breadcrumbs__item {
        white-space: nowrap;
        font-size: 11px;
    }

    .breadcrumbs__arrow {
        margin: 0 6px;
    }
}

/* Сетка с контейнером для добавления товаров */
.cart-content {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 30px;
    align-items: start;
    margin-bottom: 100px;
}

.cart-items,
.cart-summary {
    background: #FFFFFF;
    border: 3px solid #E0E0E0;
    border-radius: 30px;
    padding: 40px;
}

.table-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
}

/* Стили как будет отображаться товар при добавлении */
.cart-product-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
}

.product-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
    background: #f9f9f9;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-info h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    font-family: 'Jost';
}

/* Счетчик */
.quantity-controls {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 20px;
    width: fit-content;
    padding: 4px 12px;
}

.quantity-controls button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}

.quantity-controls input {
    width: 30px;
    border: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

/* Цена и удаление */
.product-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price span {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.remove-item {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 18px;
}


.summary-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px dotted #E0E0E0;
    padding-bottom: 5px;
    font-family: 'Jost';
    color: #4F4F4F;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Jost';
}

.btn-primary {
    width: 100%;
    background-color: #604B42;
    color: #fff;
    border: none;
    padding: 18px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary a {
    color: white !important;
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.btn-secondary {
    display: inline-block;
    background-color: #604B42;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    margin-top: 25px;
    font-family: 'Jost';
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.cart-summary h3 {
    text-align: center;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Состояние когда корзина пуста */
.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 0;
}

/* Стиль текста когда пользователь не авторизован */
.empty-state h2, h4 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #c4c4c4;
}

.empty-state p {
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.empty-state img {
    width: 80px;
    opacity: 0.1;
}

@media (max-width: 1024px) {
    .cart-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .cart-items,
    .cart-summary {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .table-header {
        display: none;
    }

    .cart-product-item {
        grid-template-columns: 1fr;
        gap: 15px;
        position: relative;
        padding: 25px 0;
    }

    .product-info {
        align-items: flex-start;
    }

    .product-image {
        width: 100px;
        height: 100px;
    }

    .product-price-wrapper {
        justify-content: space-between;
        margin-top: 10px;
        padding-left: 120px;
    }

    .remove-item {
        position: absolute;
        top: 20px;
        right: 0;
    }
}

@media (max-width: 480px) {

    .cart-items,
    .cart-summary {
        padding: 20px;
        border-radius: 20px;
        border-width: 2px;
    }

    .product-info {
        gap: 15px;
    }

    .product-image {
        width: 80px;
        height: 80px;
    }

    .product-details h3 {
        font-size: 18px;
    }

    .product-price-wrapper {
        padding-left: 0;
        flex-direction: row;
        align-items: center;
    }

    .summary-total {
        font-size: 20px;
    }

    .input-group {
        flex-direction: column;
    }

    .apply-btn {
        width: 100%;
        height: 45px;
    }

    .btn-primary {
        padding: 15px;
        font-size: 15px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.delete-content {
    background: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    transition: 0.3s;
}

.delete-modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

.delete-modal.active {
    display: flex;
}

.modal-icon {
    width: 60px;
    height: 60px;
    background: #F0F2F3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.modal-icon h2,
p {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.modal-icon img {
    width: 30px;
}

.modal-buttons {
    display: flex;
    gap: 12px;
    margin-top: 25px;
}

.modal-buttons button {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.btn-close {
    background: #F0F2F3;
    color: #272343;
}

.btn-delete {
    background: #604B42;
    color: white;
}

@media (max-width: 1024px) {
    .modal-content {
        max-width: 380px;
        padding: 25px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 350px;
        padding: 20px;
    }

    .modal-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }

    .modal-icon img {
        width: 25px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 95%;
        padding: 20px 15px;
        border-radius: 12px; 
    }

    .modal-buttons {
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
    }

    .modal-buttons button {
        width: 100%;
        padding: 14px;
        font-size: 16px;
    }

    .modal-icon h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        line-height: 1.4;
    }
}