{% extends "base.html" %}

{% block title %}SHANYRAQ - Контакты{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/css/contact.css">
{% endblock %}
{% block content %}
<!-- Контакты: хлебные крошки, данные, тугис карта -->
<section class="contacts-section">
    <div class="container">
        <h1 class="main-title">КОНТАКТЫ</h1>
        <!-- Хлебные крошки: главная и контакты -->
        <nav class="breadcrumbs">
            <div class="bread-container">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__arrow">
                        <img src="../static/icons/bc-arrow.svg" alt="›">
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Контакты</span>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Блок с информацией компании -->
        <div class="contacts-grid">
            <div class="contact-col">
                <div class="contact-item">
                    <h3>ТЕЛЕФОН</h3>
                    <p><a href="tel:+77026154906">+ 7(702) 615 - 49 - 06</a></p>
                </div>
                <div class="contact-item">
                    <h3>ЭЛЕКТРОННАЯ ПОЧТА</h3>
                    <p><a href="mailto:shanyraq.kz@mail.ru">email: shanyraq.kz@mail.ru</a></p>
                </div>
            </div>

            <div class="contact-col border-left">
                <div class="contact-item">
                    <h3>АДРЕС И РЕЖИМ РАБОТЫ</h3>
                    <p>г. Актау мкр Шыгыс 2, блок 5</p>
                </div>
                <div class="contact-item mt-inner">
                    <p>Консультация 24/7<br>Разработка: Пн - Сб 9:00 до 21:00</p>
                </div>
            </div>

            <div class="contact-col">
                <h3>МЫ В СОЦ.СЕТЯХ</h3>
                <div class="socials">
                    <a href="https://instagram.com" target="_blank" class="social-link instagram">
                        <img src="../static/icons/icon-footer/inst.svg" alt="Instagram">
                    </a>
                    <a href="https://wa.me/77026154906" target="_blank" class="social-link whatsapp">
                        <img src="../static/icons/icon-footer/wa.svg" alt="WhatsApp">
                    </a>
                    <a href="https://t.me/ara1konnn" target="_blank" class="social-link telegram">
                        <img src="../static/icons/icon-footer/tg.svg" alt="Telegram">
                    </a>
                    <a href="https://pinterest.com/shanyraqkz" target="_blank" class="social-link pinterest">
                        <img src="../static/icons/icon-footer/pn.svg" alt="Pinterest">
                    </a>
                </div>
                <a href="https://wa.me/77026154906"><button class="cta-button">НАПИСАТЬ НАМ</button></a>
            </div>
        </div>

        <div class="gis-link">
            <a href="#">ПОСМОТРЕТЬ 2GIS</a>
        </div>
        <div class="map-container">
            <iframe src="https://go.2gis.com/li3J9" width="100%" height="450" frameborder="0" style="border:0;"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    </div>
</section>
{% endblock %}