{% extends "base.html" %}

{% block title %}Ваши избранные товары{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/css/fav.css">
{% endblock %}
{% block content %}
<div class="favorites-page container">
    <div class="page-header">
        <h1 class="page-title">Мой список желаний</h1>
        <!-- Хлебные крошки -->
        <nav class="breadcrumbs">
            <div class="bread-container">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="index.html" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__arrow">
                        <img src="../static/icons/bc-arrow.svg" alt="›">
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Избранное</span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Вверхняя линия -->
    <hr class="divider">

    <section id="wishlist-content">
        <div id="empty-favorites" class="empty-state">
            <h2 class="empty-title">Ваш список желаний пуст</h2>
            <div class="empty-heart-icon">
                <img src="../static/icons/heart.svg" alt="иконка избранное">
            </div>
        </div>

        <div id="favorites-grid" class="products-display"></div>
    </section>
    <!-- Нижняя линия -->
    <hr class="divider">

    <div class="actions-footer">
        <a href="/catalog" class="btn-continue">Продолжить покупки</a>
    </div>
</div>
{% endblock %}