{% extends "base.html" %}

{% block title %}SHANYRAQ - Интернет магазин мебели в современном казахском стиле{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/css/main-page.css">
{% endblock %}

{% block content %}

<!-- Главное содержимое сайта -->
<!-- Слайдер -->
<section class="slider">
    <div class="slides">
        <!-- Активный слайд слайдера, при открытии сайта будет этот активный слайд -->
        <div class="slide active">
            <img src="../static/images/banner1.jpg" alt="слайдер 1">
            <div class="slide-content">
                <h2 class="title-slider" data-i18n="main.slider1-1">Скидки до 50%</h2>
                <p data-i18n="main.slider1-2">На мебель для гостиной</p>
                <a href="/promotions" class="btn" data-i18n="main.slider1-3">Смотреть акции</a>
            </div>
        </div>
        <!-- Слайды которые появляются после активного слайдера -->
        <div class="slide">
            <img src="../static/images/модульный диван степ.png" alt="слайдер 2">
            <div class="slide-content">
                <h2 class="title-slider" data-i18n="main.slider2-1">Новые товары</h2>
                <p data-i18n="main.slider2-2">Современные решения для дома</p>
                <a href="/catalog" class="btn" data-i18n="main.slider2-3">Подробнее</a>
            </div>
        </div>
        <div class="slide">
            <img src="/static/images/promo-banner.jpg" alt="слайдер 3">
            <div class="slide-content">
                <h2 class="title-slider" data-i18n="main.slider3-1">Уют начинается здесь</h2>
                <p data-i18n="main.slider3-2">Выберите хит товары!</p>
                <a href="/#hit-container" class="btn" data-i18n="main.slider3-3">Перейти</a>
            </div>
        </div>
    </div>

    <!-- Кнопки навигации -->
    <button class="prev"><img src="/static/icons/arrow1.svg" alt="⬅"></button>
    <button class="next"><img src="/static/icons/arrow2.svg" alt="⮕"></button>

    <!-- Индикаторы -->
    <div class="indicators">
        <span class="dot active" data-slide="0"></span>
        <span class="dot" data-slide="1"></span>
        <span class="dot" data-slide="2"></span>
    </div>
</section>

<!-- Бегущая строка снизу карусели -->
<section class="promo-marquee">
    <div class="marquee-inner">
        <!-- Элементы находящиеся внутри бегующей строки -->
        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/box-sale.svg" alt="иконка бокса">
            <div class="text">
                <span data-i18n="main.bread1">Скидки до 50%</span>
                <p data-i18n="main.bread1-1">Каждую неделю новые продажи</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/delivery.svg" alt="иконка грузовика">
            <div class="text">
                <span data-i18n="main.bread3">Бесплатная доставка</span>
                <p data-i18n="main.bread3-1">Бесплатная доставка на первый заказ</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/24hour.svg" alt="иконка 24/7">
            <div class="text">
                <span data-i18n="main.bread2">Служба поддержки 24/7</span>
                <p data-i18n="main.bread2-1">Нам важен ваш опыт</p>
            </div>
        </div>

        <!-- Дублирование для бесконечного покрутки карусели -->
        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/box-sale.svg" alt="иконка бокса">
            <div class="text">
                <span data-i18n="main.bread1">Скидки до 50%</span>
                <p data-i18n="main.bread1-1">Каждую неделю новые продажи</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/delivery.svg" alt="иконка грузовика">
            <div class="text">
                <span data-i18n="main.bread3">Бесплатная доставка</span>
                <p data-i18n="main.bread3-1">Бесплатная доставка по всей стране</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/24hour.svg" alt="иконка 24/7">
            <div class="text">
                <span data-i18n="main.bread2">Служба поддержки 24/7</span>
                <p data-i18n="main.bread2-1">Нам важен ваш опыт</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/box-sale.svg" alt="иконка бокса">
            <div class="text">
                <span data-i18n="main.bread1">Скидки до 50%</span>
                <p data-i18n="main.bread1-1">Каждую неделю новые продажи</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/delivery.svg" alt="иконка грузовика">
            <div class="text">
                <span data-i18n="main.bread3">Бесплатная доставка</span>
                <p data-i18n="main.bread3-1">Бесплатная доставка на первый заказ</p>
            </div>
        </div>

        <div class="marquee-item">
            <img src="/static/icons/icon-marquee/24hour.svg" alt="иконка 24/7">
            <div class="text">
                <span data-i18n="main.bread2">Служба поддержки 24/7</span>
                <p data-i18n="main.bread2-1">Нам важен ваш опыт</p>
            </div>
        </div>
    </div>
</section>

<!-- Популярные категории -->
<section class="popular-categories">
    <div class="title">
        <img src="/static/images/pop-cat.png" alt="иконка орнамента">
        <h2 data-i18n="main.pop">Популярные категории</h2>
        <img src="/static/images/pop-cat.png" alt="иконка орнамента">
    </div>
    <!-- Сетка категорий -->
    <div class="categories-grid">
        <a href="/catalog?category=livingroom&sub=sofa" class="category-item item1">
            <img src="/static/images/main-page/кат6.jpg" alt="Диваны">
            <span data-i18n="main.divan">ДИВАНЫ</span>
        </a>
        <a href="/catalog?category=bedroom&sub=bed" class="category-item item2">
            <img src="/static/images/main-page/кат1.jpg" alt="Кровати">
            <span data-i18n="main.krovat">КРОВАТИ</span>
        </a>
        <a href="/catalog?category=livingroom&sub=armchair" class="category-item item3">
            <img src="/static/images/main-page/кат2.jpg" alt="Кресла">
            <span data-i18n="main.kresla">КРЕСЛА</span>
        </a>
        <a href="/catalog?category=diningroom&sub=diningtable" class="category-item item4">
            <img src="/static/images/main-page/кат3.jpg" alt="Столы">
            <span data-i18n="main.stoly">СТОЛЫ</span>
        </a>
        <a href="/catalog?category=diningroom&sub=chair" class="category-item item5">
            <img src="/static/images/main-page/кат4.jpg" alt="Стулья">
            <span data-i18n="main.stulya">СТУЛЬЯ</span>
        </a>
        <a href="/catalog?category=accessories" class="category-item item6">
            <img src="/static/images/main-page/кат5.jpg" alt="Аксессуары">
            <span data-i18n="main.access">АКСЕССУАРЫ</span>
        </a>
    </div>
</section>

<!-- Хиты продаж - Карусель -->
<style>
    .carousel-item,
    .carousel-item h2,
    .carousel-item .price {
        color: #000000 !important;
        text-decoration: none !important;
    }

    .carousel-item:hover h2 {
        color: #604B42 !important;
    }

    .carousel-item img {
        color: #000000;
        font-size: 14px;
    }
</style>
<!-- Карусель с карточками товаров: -->
<section class="carousel-container" id="hit-container">
    <!-- Вверхняя часть: название и стрелки карусели -->
    <div class="carousel-header">
        <h2 data-i18n="main.hits">Хиты продаж</h2>
        <div class="carousel-controls">
            <button id="prev"><img src="/static/icons/arrow5.svg" alt="⬅"></button>
            <button id="next"><img src="/static/icons/arrow4.svg" alt="к⮕"></button>
        </div>
    </div>
    <!-- Нижняя часть: карточки товаров -->
    <div class="carousel-track-container">
        <div class="carousel-track">
            {% for product in hit_products %}
            <div class="carousel-item" id="product-{{ product.id }}">
                <div class="item-top">
                    <img src="/static/images/{{ product.images[0] }}" alt="{{ product.name }}">
                </div>
                <div class="item-bottom">
                    <a href="/products/{{ product.id }}" class="product-title-link">
                        <h2>{{ product.name }}</h2>
                    </a>
                    <div class="price-cart">
                        <span class="price">{{ "{:,}".format(product.price).replace(",", " ") }}₸</span>
                        <button class="cart-btn" data-id="{{ product.id }}">
                            <img src="../static/icons/icon-cards/basket.svg" alt="корзина">
                        </button>
                    </div>
                </div>
                <button class="favorite-btn" data-id="{{ product.id }}">
                    <img class="heart-empty" src="/static/icons/icon-cards/favorite.svg" alt="пустое">
                    <img class="heart-full" src="/static/icons/icon-cards/fav-full.svg" alt="полное">
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Индивидуальные заказы -->
<section class="custom-order-section">
    <div class="custom-order-content">
        <div class="text-side">
            <div class="title-line">
                <div class="line"></div>
                <div class="text-content">
                    <h2 data-i18n="main.ind">Индивидуальные заказы</h2>
                    <p data-i18n="main.ind1">Компания предоставляет услугу изготовления мебели по индивидуальному заказу, что
                        позволяет клиентам выбрать размеры, материалы, цветовые решения и декоративные элементы
                        в соответствии с их потребностями и концепцией интерьера.</p>
                    <a href="https://wa.me/77026154906" class="btn" data-i18n="main.ind2">Связаться</a>
                </div>
            </div>
        </div>
        <div class="image-side">
            <img src="../static/images/main-page/custom-order.jpg" alt="Индивидуальный заказ">
        </div>
    </div>
</section>

<!-- Коллаж из фотографии -->
<section class="shanyraq-collage">
    <div class="collage-header">
        <p class="subtitle" data-i18n="main.coll">Покажите свой уют с</p>
        <h1 class="hashtag">#SHANYRAQ</h1>
    </div>

    <div class="collage-grid">
        <div class="grid-item item-1"><img src="../static/images/main-page/1.jpg" alt="Картина 1"></div>
        <div class="grid-item item-2"><img src="../static/images/main-page/2.jpg" alt="Картина 2"></div>
        <div class="grid-item item-3"><img src="../static/images/main-page/3.jpg" alt="Картина 3"></div>
        <div class="grid-item item-4"><img src="../static/images/main-page/4.jpg" alt="Картина 4"></div>
        <div class="grid-item item-5"><img src="../static/images/main-page/5.jpg" alt="Картина 5"></div>
        <div class="grid-item item-6"><img src="../static/images/main-page/6.jpg" alt="Картина 6"></div>
        <div class="grid-item item-7"><img src="../static/images/main-page/7.jpg" alt="Картина 7"> </div>
        <div class="grid-item item-8"><img src="../static/images/main-page/8.jpg" alt="Картина 8"></div>
        <div class="grid-item item-9"><img src="../static/images/main-page/9.jpg" alt="Картина 9"></div>
    </div>
</section>
{% endblock %}