{% extends "base.html" %}

{% block title %}SHANYRAQ - Акции и скидки{% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/css/promotions.css">
{% endblock %}
{% block content %}
<!-- Баннер после шапки -->
<section class="promo-banner">
    <div class="banner-overlay">
        <div class="promo-container">
            <h1 class="banner-title">Акции</h1>
            <div class="banner-subtitle-row">
                <img src="../static/icons/promo ornament r.svg" class="ornament" alt="иконка орнамента">
                <h2 class="banner-subtitle">Выгода для дома с теплом традиций</h2>
                <img src="../static/icons/promo ornament l.svg" class="ornament" alt="иконка орнамента">
            </div>
            <!-- Хлебные крошки -->
            <nav class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__arrow">
                        <img src="../static/icons/bc-arrow-w.svg" alt="›">
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Акции</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- Блок выгодные предложения -->
<section class="offers">
    <div class="container">
        <h2 class="offers-title">Выгодные предложения</h2>

        <div class="offers-grid">
            <div class="offer-card card-1">
                <div class="offer-overlay">
                    <h3 class="offer-text">Качественные мебели</h3>
                    <a href="/catalog"><button class="offer-btn">Перейти в каталог</button></a>
                </div>
            </div>

            <div class="offer-card card-2">
                <div class="offer-overlay">
                    <h3 class="offer-text">Скидка на определенные мебели</h3>
                    <a href="/promotions#discounts-section"><button class="offer-btn">Хочу скидки</button></a>
                </div>
            </div>

            <div class="offer-card card-3">
                <div class="offer-overlay">
                    <h3 class="offer-text">Успейте приобрести хиты продаж!</h3>
                    <a href="/#hit-container"><button class="offer-btn">Посмотреть модели</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Секция уютные скидки -->
<section id="discounts-section" class="sales-section">
    <div class="container">
        <h2 class="sales-title">Уютные скидки</h2>
        <div class="products-display">
            {% for product in promo_products %}
            <div class="carousel-item" id="promo-{{ product.id }}">
                <a href="/products/{{ product.id }}" class="main-card-link">
                    <div class="item-top">
                        {% if product.discount_percent %}
                        <div class="discount-badge">
                            -{{ product.discount_percent }}%
                        </div>
                        {% endif %}
                        <img src="{{ product.images[0] if product.images else '/static/images/placeholder.jpg' }}"
                            alt="{{ product.name }}">
                    </div>
                    <div class="item-bottom">
                        <h2 class="product-title">{{ product.name }}</h2>
                        <div class="price-cart">
                            {% if product.old_price %}
                            <div class="price-wrapper">
                                <span class="old-price">
                                    {{ product.old_price | int | string }} ₸
                                </span>
                                <span class="price current-promo">
                                    {{ product.price | int | string }} ₸
                                </span>
                            </div>
                            {% else %}
                            <span class="price">
                                {{ product.price | int | string }} ₸
                            </span>
                            {% endif %}
                            <button class="cart-btn {% if product.id in cart_ids %}in-cart{% endif %}"
                                data-id="{{ product.id }}">
                                <img src="../static/icons/icon-cards/basket.svg">
                            </button>
                        </div>
                    </div>
                </a>
                <button class="favorite-btn {% if product.id in favorites %}active{% endif %}"
                    data-id="{{ product.id }}">
                    <img src="../static/icons/icon-cards/favorite.svg" class="heart-empty">
                    <img src="../static/icons/icon-cards/fav-full.svg" class="heart-full">
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% block scripts %}
<script src="../static/js/promo.js"></script>{% endblock %}
{% endblock %}